/* General Rules */
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
*{
  padding: 0;
  margin: 0;
}
/*top-nav-bar*/
.sticky{
  position: fixed;
}
#top-nav-bar{
  width: 100vw;
  height: 26px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
#top-nav-bar div{
  display: flex;
}
#top-nav-bar .left{
  width: 15vw;
  justify-content: space-between;
}
#top-nav-bar .logo{
  width: 200px;
  justify-content: space-between;
}
#top-nav-bar .right{
  width: 15vw;
  justify-content: space-between;
}
#top-nav-bar .icon{
  width: 35px;
}

/*end of top-nav-bar rules*/

main{
  margin: 0 10vw;
}

h1{
  width: 600px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  font-family: 'Domine', serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 700;
}
.social-media-menu{

}
.social-media-menu li{
  list-style-type: none;
  display: inline-block;
  margin: 5px 5px 20px;
}

@media (max-width: 800px){
  #top-nav-bar .right, #top-nav-bar .left{
    visibility: hidden;
  }
  h1{
    width: 100%;
    font-size: 23px;
  }
}

/*below are temporaty and experimental rules that won't be part of the final project*/